.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        border-radius: 9999px;
    }
    div {
        padding: 0 0 0 10px;
        h2 {
            color: $darkColor;
            font-size: $mobileFontSize;
        }
        h3 {
            color: $midColor;
            font-size: $mobileFontSize * 0.8;
            font-weight: 500;
        }
    }
}