.devit {
    padding: 15px 0;
    border-bottom: 1px solid $lightColorWOpacity;
    .avatar {
        justify-content: flex-start;
    }
    p {
        padding: 5px 0 0 55px;
    }
    &__buttons {
        padding: 15px 10px 0 55px;
        display: flex;
        justify-content: space-between;
        button {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border: none;
            svg path {
                fill: $midColor;
                transition: .3s;
            }
            &:hover {
                cursor: pointer;
                svg path {
                    fill: $secondaryColor;
                }
            }
        }
    }
    &:first-of-type {
        padding: 0 0 15px;
    }
}