header {
    width: 100vw;
    padding: 15px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $altLightColor;
    box-shadow: 0px 0px 20px $darkColorWOpacity;
    h2 {
        padding: 0 0 0 15px;
    }
}

@media (min-width: $breakpointMobileLarge) {
    header {
        width: inherit;
        top: unset;
        border-radius: 10px 10px 0 0;
    }
}