@mixin button_dark {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $mainFontFamily;
    font-size: $mobileFontSize;
    font-weight: 500;
    background-color: $darkColor;
    color: $altLightColor;
    border: none;
    border-radius: 9999px;
    box-shadow: 0px 0px 20px $darkColorWOpacity;
    transition: .3s;
    &:hover {
        cursor: pointer;
        background-color: $altDarkColor;
    }
}

@mixin button_dark_alt {
    @include button_dark;
    background-color: transparent;
    color: $altDarkColor;
    border: 2px solid $altDarkColor;
    box-shadow: 0px 0px 20px $lightColorWOpacity;
    &:hover {
        background-color: $altDarkColor;
        color: $altLightColor;
    }
}

@mixin button_light {
    @include button_dark;
    background-color: $lightColor;
    color: $altDarkColor;
    box-shadow: 0px 0px 20px $lightColorWOpacity;
    &:hover {
        background-color: $altDarkColor;
        color: $altLightColor;
    }
}

.button--dark {
	@include button_dark;
}

.button--dark_alt {
	@include button_dark_alt;
}

.button--light {
	@include button_light;
}

// Inputs

@mixin input_dark_alt {
    @include button_dark_alt;
    font-weight: initial;
    border: 2px solid $midColor;
    &::placeholder {
        color: $midColor;
    }
    &:hover {
        cursor: unset;
        background-color: transparent;
        color: $altDarkColor;
    }
}

@mixin input_light {
    @include button_light;
    font-weight: initial;
    &::placeholder {
        color: $darkColor;
    }
    &:hover {
        cursor: unset;
        background-color: $lightColor;
        color: $darkColor;
    }
}