@mixin button_dark {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $mainFontFamily;
    font-size: $mobileFontSize;
    font-weight: 500;
    background-color: $darkColor;
    color: $altLightColor;
    border: none;
    border-radius: 9999px;
    box-shadow: 0px 0px 20px $darkColorWOpacity;
}